.nav_container {
  height: 60px;
  width: calc(100% - 232px);
  display: flex;
  position: fixed;
  transition: 1s;
  align-items: center;
  justify-content: center;
  background-color: rgba(18, 18, 18, 0);
  z-index: 2;

  transition: background-color 200ms linear;
  .nav_container_items {
    display: flex;
    height: 40px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    .nav_container_items_buttons {
      display: flex;
      .button {
        border-radius: 50%;
        border: none;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        background-color: #000;
        margin-right: 16px;
      }
    }
    .nav_container_items_user {
      display: flex;
      align-items: center;
      background-color: #000;
      border-radius: 25px;
      max-width: 185px;
      cursor: pointer;
      justify-content: space-between;
      transition: 0.2s;
      &:hover {
        background-color: #282828;
      }

      .items_user_pic {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin: 2px;
      }
      .items_user_name {
        margin: 0 5px;
        color: white;
        font-weight: bold;
        font-size: 0.9em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .items_user_arrow {
        margin: 0 5px;
        padding-top: 2px;
        transition: 0.5s;
      }
    }
  }
  .nav_container_toggle {
    position: absolute;
    top: 85%;
    right: 2.5%;
    z-index: 3;
    transition: 1s;
  }
}
